body {
    background-size: cover;
    background-position: center;
}

a {
    font-size: 20px !important;
    width: 400px;
    border-radius: 30px !important;
    background-color: rgb(108, 196, 255);
    color: rgb(255, 252, 227);
}